body {
    margin: 0;
    width: 100vw;
}
.strong-ukraine {
    font-family: 'Marcellus', sans-serif;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 4.8px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px;
    position: relative;
}

.strong-ukraine strong {
    color: #3E45E8;
}

.strong-ukraine span {
    color: #E8C23E;
}

.bg-image {
    width: 100%;
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-left: 80px;
    margin-top: 349px;
}

.text-overlay {
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 2;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    line-height: 157.3%;
    font-weight: 700;
}
.ney {
    font-size: 48px;
    padding-left: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 63px;
    padding-top: 48px;
    padding-bottom: 5px;
    
}

.prapor-image {
width: 60%; 
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-card1 {
    display: inline-block;
    border: 5px solid #0D095F;
    border-radius: 30px;
    width: 24%;
    height: 405px;
    margin-top: 2%;
    margin-left: 74px;
    box-shadow: -16px 21px 40px rgba(0, 209, 255, 0.35);
    margin-bottom: 45px;
    padding-bottom: 30px;
    cursor: pointer;
}

.image-card1 img {
    max-width: 100%;
}

.image-card1 div {
    padding-top: 16px;
    padding-left: 10px  ;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #0072DB;
    padding-bottom: 13px;
}

.image-card1 p {
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Inika';
    line-height: 157.3%;
    margin: 0;
    color: #F90;
}

.image-card2 {
    display: inline-block;
    border: 5px solid #0D095F;
    border-radius: 30px;
    width: 24%;
    height: 405px;
    margin-top: 2%;
    box-shadow: 0px 21px 35px rgba(0, 209, 255, 0.35);
    margin-bottom: 45px;
    padding-bottom: 30px;
    cursor: pointer;
}

.image-card2 img {
    max-width: 100%;
}

.image-card2 div {
    padding-top: 16px;
    padding-left: 10px  ;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #0072DB;
    padding-bottom: 13px;
}

.image-card2 p {
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Inika';
    line-height: 157.3%;
    margin: 0;
    color: #F90;
}

.image-card3 {
    display: inline-block;
    border: 5px solid #0D095F;
    border-radius: 30px;
    width: 24%;
    height: 405px;
    margin-top: 2%;
    margin-right: 80px;
    box-shadow: 16px 21px 40px rgba(0, 209, 255, 0.35);
    margin-bottom: 45px;
    padding-bottom: 30px;
    cursor: pointer;
}

.image-card3 img {
    max-width: 100%;
}

.image-card3 div {
    padding-top: 16px;
    padding-left: 10px  ;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #0072DB;
    padding-bottom: 13px;
}

.image-card3 p {
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Inika';
    line-height: 157.3%;
    margin: 0;
    color: #F90;
}

.peremoga {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-bottom: 19px;
}

.rectangle {
    display: block;
    margin: 0 auto;
    padding-bottom: 32px;
}

.centered-image {
    display: block;
    margin: 0 auto;
}

.button {
    background-color: #2A61F0;;
    color: #fff;
    border: none;
    padding: 10px 208px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 64px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    margin-top: 23px;
    margin-bottom: 33px;
}

.footer-container {
    position: relative;
    text-align: center;
}

.bg-image2 {
    width: 100%;
}

.new-text-over-image {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    line-height: normal;
    font-weight: 400;
    letter-spacing: 4.8px;
}

.strong {
    color: #3E45E8;
}

.ukraine {
    color: #DFE31E;
}
.info {
    font-size: 36px;
    font-family: Marcellus SC;
    color: #A89D9D;
    letter-spacing: 3.6px;
    text-decoration: none;
}
.info2 {
    color: #A89D9D;
    font-family: Marcellus SC;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;
    margin-top: 7px;
    text-decoration: none;
}

.icons {
    text-align: center;
    margin-top: 8px;
    
}

.icons img {
    margin: 0 8px;
}

.icon-link {
    text-decoration: none;
}





